.header {
  height: 70px;
}
.nav-container {
  width: 350px;
  height: 70px;
}
.nav-container__logo {
  width: 192px;
  height: 28px;
}
.body-container {
  width: 350px;
}
.container-section__three {
  width: 100%;
  height: 100%;
}
.container-section__five {
  width: 100%;
  height: 550px;
}
.section__one {
  justify-content: flex-start;
  flex-direction: column;
  height: 1015px;
  width: 350px;
}
.section__two {
  width: 350px;
  height: 900px;
  margin-top: -170px;
}
.section__three {
  width: 350px;
  padding: 20px 0;
}
.section__four {
  width: 350px;
  height: 1000px;
}
.section__six {
  height: 500px;
  width: 350px;
}
.section__five {
  width: 350px;
}
.offer-title {
  font-size: 28px;
  line-height: normal;
  min-width: 350px;
  text-align: center;
  margin-bottom: 30px;
}
.offer-subtitle {
  font-size: 17px;
  line-height: normal;
  min-width: 350px;
  text-align: center;
}
.offer-button {
  font-size: 14px;
  margin-top: -70px;
  width: 310px;
  height: 72px;
}
.offer-button::after {
  content: "Заявка на консультацию";
}
.offer-partner__text {
  top: 25px;
  font-size: 28px;
  font-size: 32px;
}
.offer-partner__img {
  width: 291px;
  margin-left: 85px;
  height: 47px;
  margin-bottom: 50px;
}

.body-container__offer {
  align-items: center;
  order: 2;
  max-height: 690px;
  height: 600px;
}

.body-container__offer-img {
  order: 1;
  max-height: 490px;
  margin-top: 0px;
}

.offer-img__girl {
  width: 360px;
  height: 421px;
}
.offer-img__button-gift {
  width: 89px;
  height: 89px;
  font-size: 12px;
  line-height: 80%;
  padding: 0;
  padding-right: 5px;
  bottom: 300px;
  left: 70%;
}
.offer-img__exp {
  width: 79px;
  height: 88px;
  top: -450px;
  left: 50px;
}
.offer-img__comment {
  width: 156px;
  height: 84px;
  top: -410px;
  left: 30px;
}
.offer-img__container-people {
  top: -330px;
}
.container-people__img:nth-of-type(1) {
  width: 180px;
  height: 80px;
}
.container-people__img:nth-of-type(2) {
  width: 180px;
  height: 80px;
}
.offer-img__container-statistics {
  top: -350px;
}
.container-statistics__text {
  font-size: 13px;
  margin-left: 0;
}
.section__two-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: -10px;
}
.section__two-subtitle {
  font-size: 17px;
  text-align: center;
  margin-top: -65px;
}
.section__two-map {
  background-image: url(../img/road_map1.png);
  flex-direction: column;
  width: 170px;
  height: 500px;
  margin-top: -75px;
}
.map__container-pin {
  flex-direction: row-reverse;
}
.container-pin__img {
  width: 66px;
  height: 190px;
}
.map__container-pin:nth-child(1) {
  width: 170px;
  height: 190px;
  margin: 20px -42px;
}
.map__container-pin:nth-child(2) {
  width: 170px;
  height: 190px;
  margin: 20px 49px;
}
.map__container-pin:nth-child(3) {
  width: 170px;
  height: 190px;
  margin: 20px -48px;
}
.map__container-pin:nth-child(4) {
  width: 170px;
  height: 190px;
  margin: 15px 47px;
}
.map__container-pin:nth-child(1) .container-pin__img {
  width: 170px;
  height: 88px;
  margin: 0px;
}

.map__container-pin:nth-child(2) .container-pin__img {
  width: 66px;
  height: 88px;

  margin: 0px;
}

.map__container-pin:nth-child(3) .container-pin__img {
  width: 66px;
  height: 88px;

  margin: 0px;
}

.map__container-pin:nth-child(4) .container-pin__img {
  width: 66px;
  height: 88px;

  margin: 0px;
}
.container-pin__text {
  text-align: center;
  font-size: 14px;
  width: 95px;
}
.section__three-title {
  text-align: center;
}
.section__three-title::after {
  font-size: 32px;
  content: "Запись на карьерное консультирование!";
  text-align: center;
}
.section__three-subtitle {
  text-align: center;
}
.section__three-subtitle::after {
  font-size: 17px;
  content: " Оставьте заявку на консультацию, чтобы начать ваш путь к карьерному росту";
  text-align: center;
}
.section__three-form {
  width: 95%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section__three-form input,
.section__three-form button {
  margin: 5px;
  box-sizing: border-box;
}

.section__three-form > input {
  width: 95%;
  height: 70px;
  margin: 16px;
  font-size: 18px;
  padding-left: 10px;
}

.section__three-button {
  width: 50%;
  height: 72px;
  font-size: 20px;
  order: 2;
  margin-top: 16px;
}
.section__three-form :nth-child(3) {
  width: 95%;
}
.section__four-title {
  text-align: center;
}
.section__four-title::after {
  font-size: 32px;
  margin-bottom: -25px;
  content: "Вместе создадим вашу успешную карьеру";
}
.section__four-subtitle {
  text-align: center;
}
.section__four-subtitle::after {
  font-size: 18px;
  content: "Наши эксперты помогут с выбором карьерного пути, оценкой текущих навыков и поиском вакансий";
  display: block;
  align-items: center;
}
.section__four-container__experts {
  width: 350px;
}
.expert-container__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid #e0c7f9;
}
.section__four-container__experts,
.section__four-container__advantages {
  width: 155px;
  height: 410px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
.section__four-container__mob {
  display: flex;
  margin-bottom: 50px;
}

.experience__title {
  font-size: 17px;
  margin-bottom: 0;
}
.experience__subtitle {
  font-size: 13px;
  height: 90px;
  margin-bottom: -10px;
}
.experience__check {
  display: none;
}

.section__five-title {
  text-align: center;
  font-size: 32px;
  margin-top: -20px;
}

.section__five-subtitle {
  text-align: center;
}
.section__five-subtitle::after {
  font-size: 18px;
  content: "Ответьте на несколько вопросов нашему боту и получите  гайд “Как получить работу мечты” ";
  display: block;
  text-align: center;
}
.section__five-img {
  width: 345px;
  height: 115px;
}
.section__five-button {
  width: 355px;
  height: 72px;
  font-size: 20px;
  padding: 0;
}
.section__six {
  justify-content: space-between;
}
.section__six-title {
  margin-bottom: -20px;
}
.section__six-title::after {
  font-size: 32px;
  content: "Узнайте, как наши клиенты достигли карьерного роста";
  display: block;
  text-align: center;
  margin-bottom: -10px;
}
.section__six-subtitle {
  text-align: center;
  font-size: 18px;
}
.section__six-slider {
  width: 100%;
}
.slider__btn--left {
  width: 37px;
  height: 37px;
}
.slider {
}
.slider__review {
}
.review__photo {
  width: 50px;
  height: 50px;
  margin: 44px 30px;
}
.review__name {
  font-size: 18px;
  margin-top: -30px;
}
.review__text {
  padding-top: 5px;
  font-size: 10px;
}
.slider__btn--right {
  width: 37px;
  height: 37px;
}
.fotter {
  height: 250px;
}
.fotter-container {
  flex-direction: column;
  width: 350px;
}
.fotter-container__contact {
  font-size: 32px;
}
.fotter-container__mail {
  font-size: 18px;
}
.fotter-container__social {
}
.social__telegramm {
}
.social__watsapp {
}
.social__vk {
}
.social__instagram {
}
.bot__start {
  width: 50px;
  height: 40px;
}
