@font-face {
  font-family: "Racama";
  src: url("../fonts/ofont.ru_Racama.ttf");
}
* {
  box-sizing: border-box;
  font-family: "Racama", sans-serif;
}
button {
  cursor: pointer;
  border: 0;
}
:root {
  --text-black: #000;
  --text-grey: #6f6f6f;
  --Light-green: #e5fb8c;
  --Green: #d4f21d;
  --header-body-text: #f8f8f8;
  --reply-text-placeholder: #737376;
  --Grey: #8f8e8e;
}
.hidden {
  opacity: 0;
  z-index: -2;
  transition: 0.5s ease-out;
}
/*Header*/
.header {
  height: 152px;
}
.nav-container {
  width: 1280px;
  height: 152px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
}
.nav-container__logo {
  padding-top: 50px;
  width: 357px;
  height: 52px;
  background-image: url(../img/Logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/*Body*/
.body {
  width: 100%;
}
.body-container {
  width: 1280px;
  margin: 0 auto;
}
.section__one {
  height: 848px;
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body-container__offer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
.offer-title {
  color: var(--text-black);
  font-family: Racama;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}
.offer-subtitle {
  color: var(--text-grey);
  font-family: Racama;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  position: relative;
  bottom: 60px;
}
.offer-button {
  color: var(--text-black);
  text-align: center;
  font-family: Racama;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  padding: 24px 28px;
  justify-content: center;
  align-items: center;
  gap: 80px;
  border-radius: 40px;
  background: var(--Light-green);
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.8);
}
.offer-partner__text {
  color: var(--text-black);
  text-align: center;

  font-family: Racama;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  position: relative;
  top: 60px;
}
.offer-partner__img {
  width: 600px;
  height: 80px;
  background-image: url(../img/Partners.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  margin-bottom: 50px;
}
.body-container__offer-img {
  max-height: 800px;
}
.offer-img__girl {
  width: 591px;
  height: 792px;
  background-image: url(../img/Girld.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.offer-img__button-gift {
  position: relative;
  bottom: 600px;
  left: 67%;
  width: 118px;
  height: 122px;
  display: inline-flex;
  padding: 13.077px;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 4.359px;
  border-radius: 40px 40px 40px 0px;
  border: 3px solid var(--Green);
  background: #fff;
  box-shadow: 5px 5px 7px 0px rgba(194, 145, 244, 0.5);
  background-image: url(../img/gift.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 15%;
  background-size: initial;
  transform: rotate(18deg);
  color: var(--text-black);
  text-align: center;
  font-family: Racama;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 95%; /* 17.1px */
}
.offer-img__exp {
  width: 108px;
  height: 130px;
  background-image: url(../img/exp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  top: -750px;
  left: 85px;
}
.offer-img__comment {
  width: 180px;
  height: 120px;
  background-image: url(../img/reviews.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  top: -600px;
  left: 60px;
}
.offer-img__container-people {
  display: flex;
  position: relative;
  top: -468px;
}
.container-people__img:nth-of-type(1) {
  width: 265px;
  height: 102px;
  background-image: url(../img/people.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.container-people__img:nth-of-type(2) {
  width: 265px;
  height: 102px;
  background-image: url(../img/people1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/*.offer-img__button-bot {
  position: relative;
  bottom: 290px;
  left: 45%;
  width: 104px;
  height: 96px;
  background-image: url(../img/bot.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;

  border-radius: 0px 40px 40px 40px;
  border: 3px solid var(--Violet, #c68dff);
  box-shadow: 3px 3px 4px 0px #e5fb8c;
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
}*/
.offer-img__container-statistics {
  position: relative;
  bottom: 470px;
  width: 100%;
  height: 82px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container-statistics__text {
  color: var(--text-black);
  text-align: center;
  font-family: Racama;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: -20px;
}

.section__two {
  width: 1280px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.section__two-title {
  color: var(--text-black);
  font-family: Racama;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: -50px;
}
.section__two-subtitle {
  color: var(--text-black);
  font-family: Racama;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section__two-map {
  width: 1005px;
  height: 300px;
  background-image: url(../img/road.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section__two-map {
  display: flex;
}
.map__container-pin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map__container-pin:nth-child(1) {
  margin: 40px 20px;
}
.map__container-pin:nth-child(2) {
  margin: 40px 17px;
}
.map__container-pin:nth-child(3) {
  margin: 40px 17px;
}
.map__container-pin:nth-child(4) {
  margin: 40px 14px;
}
.map__container-pin:nth-child(1) .container-pin__img {
  width: 180px;
  height: 180px;
  background-image: url(../img/geo_plan.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 15px;
}

.map__container-pin:nth-child(2) .container-pin__img {
  width: 180px;
  height: 180px;
  background-image: url(../img/geo_expert.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 15px;
}

.map__container-pin:nth-child(3) .container-pin__img {
  width: 180px;
  height: 180px;
  background-image: url(../img/geo_detali.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 15px;
}

.map__container-pin:nth-child(4) .container-pin__img {
  width: 180px;
  height: 180px;
  background-image: url(../img/geo_zayavka.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 15px;
}

.container-pin__text {
  color: var(--text-black);
  text-align: center;
  font-family: Racama;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-section__three {
  width: 100%;
  height: 505px;
  background: #ead4ff;
}
.section__three {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__three-title::after {
  color: var(--text-black);
  font-family: Racama;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  content: "Запишитесь на карьерное консультирование прямо сейчас!";
}
.section__three-subtitle::after {
  color: var(--text-black);
  font-family: Racama;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 110px;
  content: "Жаждете успеха? Оставьте заявку на консультацию, чтобы начать ваш путь к карьерному росту и достижению ваших целей.";
}
.section__three-form {
  width: 1228px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__three-form > input {
  width: 202px;
  height: 70px;
  margin: 16px;
  border-radius: 8px;
  border: 3px solid #e0e7ec;
  background: #fff;

  color: var(--Grey);
  text-align: left;
  font-family: Racama;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 20px;
}
.section__three-form :nth-child(3) {
  width: 310px;
}
.section__three-button {
  color: var(--text-black);
  text-align: center;
  font-family: Racama;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 355px;
  height: 72px;
  border-radius: 40px;
  border: 3px solid #cff000;
  background: #fff;
  box-shadow: 5px 5px 4px 0px #c291f4;
}
.section__four {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 830px;
}
.section__four-title::after {
  color: var(--text-black);
  text-align: center;
  font-family: Racama;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: -50px;
  content: "Давайте вместе создадим вашу успешную карьеру";
}
.section__four-subtitle::after {
  color: var(--text-black);
  text-align: center;
  font-family: Racama;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  content: "Наша команда экспертов поможет вам с выбором карьерного пути, оценкой текущих навыков и поиском вакансий";
}

.section__four-container__experts {
  width: 1228px;
  height: 160px;

  display: flex;
}
.expert-container {
  margin-right: -10px;
}
.expert-container__img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid #e0c7f9;
}
.section__four-container__advantages {
  display: flex;
  justify-content: center;
}
.advantages__experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experience__check {
  height: 48px;
  width: 48px;
  background-image: url(../img/эксперт.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 12px;
}
.experience__title {
  color: var(--text-black);
  text-align: center;
  font-family: Racama;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}
.experience__subtitle {
  color: var(--text-black);
  text-align: center;
  font-family: Racama;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.8%;
  max-width: 320px;
}

.container-section__five {
  width: 100%;
  height: 750px;
  background: #ead4ff;
}
.section__five {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.section__five-title {
  color: var(--text-black);
  font-family: Racama;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: -50px;
}
.section__five-subtitle::after {
  color: var(--text-black);
  font-family: Racama;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  content: "Пообщайтесь с нашим ботом, ответьте на несколько вопросов и получите  гайд “ Как получить работу мечты” ";
}
.section__five-img {
  width: 750px;
  height: 250px;
  background-image: url(../img/Подарок\ 750х250\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.section__five-button {
  color: var(--text-black);
  text-align: center;
  font-family: Racama;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 24px 84px;
  border-radius: 40px;
  border: 3px solid #cff000;
  background: #fff;
  box-shadow: 5px 5px 4px 0px #c291f4;
}
.section__six {
  width: 1280px;
  height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.section__six-title::after {
  color: var(--text-black);
  font-family: Racama;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: -50px;
  content: "Узнайте, как наши клиенты достигли своих карьерных целей";
}
.section__six-subtitle {
  color: var(--text-black);
  text-align: center;
  font-family: Racama;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.slider {
  width: 300px;
  height: 257px;
  background-image: url(../img/review_fon.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.section__six-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__btn--left {
  width: 60px;
  height: 60px;
  background-image: url(../img/arrows-left.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  margin: 0 20px;
}

.slider__btn--right {
  width: 60px;
  height: 60px;
  background-image: url(../img/arrows-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  margin: 0 20px;
}
.review__photo {
  margin: 5px 40px;
}
.review__name {
  color: var(--text-black);
  text-align: end;
  font-family: Racama;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 45px;
  margin-top: 5px;
}
.review__text {
  color: var(--text-black);
  font-family: Racama;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  padding: 20px;
}
/*footer*/
.fotter {
  width: 100%;
  height: 220px;
}
.fotter-container {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.fotter-container__contact {
  color: var(--text-black);
  font-family: Racama;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fotter-container__mail {
  font-family: Racama;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fotter-container__mail > a {
  text-decoration: none;
  color: var(--text-black);
}
.fotter-container__social {
}
.social__telegramm {
  width: 60px;
  height: 60px;
  background-image: url(../img/telegram.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}
.social__watsapp {
  width: 60px;
  height: 60px;
  background-image: url(../img/whatsapp.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}
.social__vk {
  width: 60px;
  height: 60px;
  background-image: url(../img/vk.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}

.social__instagram {
  width: 60px;
  height: 60px;
  background-image: url(../img/instagram.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}

.bot__start {
  width: 112px;
  height: 100px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 0px 40px 40px 40px;
  border: 3px solid #c68dff;
  background: #fff;
  box-shadow: 3px 3px 4px 0px #e5fb8c;

  background-image: url(../img/bot.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}
.bot__container {
  width: 438px;
  height: 750px;
  position: fixed;
  right: 20px;
  bottom: 20px;

  border-radius: 10px 30px 10px 10px;
  border: 1px solid rgba(143, 142, 142, 0.2);
  background: #f9f5f5;
  transition: 0.5s ease-out;
}
.bot__container--header {
  width: 100%;
  height: 80px;
  border-radius: 10px 30px 0px 0px;
  background: #c68dff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bot--header__img {
  width: 60px;
  height: 54.375px;
  margin-right: 10px;
}
.bot--header__text {
  color: var(--header-body-text);
  font-family: Racama;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  width: 70%;
}
.bot--header__exit {
  background: #c68dff;
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  background-image: url(../img/exit_bot.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bot__container--body {
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 590px;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}
.bot__container--footer {
  width: 100%;
  height: 80px;
  border-radius: 8px;
  border: 1px solid rgba(143, 142, 142, 0.2);
  background: #e2e5da;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bot--footer__smile {
  width: 23px;
  height: 23px;
  background-image: url(../img/smile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  margin-right: 10px;
}
.bot--footer__text {
  font-family: Arial, Helvetica, sans-serif;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Racama;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  border: 0;
  background: #e2e5da;
  color: #222d38;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  resize: none;
  padding-top: 30px;
}
.bot--footer__sendform {
  width: 23px;
  height: 23px;
  background-image: url(../img/arrow_up.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  margin-left: 10px;
}
.bot--body__ansercontainer {
  display: flex;
  align-items: end;
}

.bot--body__text {
  color: #323232;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 30px 30px 30px 0px;
  background: rgba(212, 242, 29, 0.7);
  padding: 20px;
}
.bot--body__button {
  border-radius: 30px 30px 30px 0px;
  background: rgba(212, 242, 29, 0.7);
  margin: 5px;
  text-align: center;
  height: 50px;
  padding: 0 20px;
  transition: background 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}
.bot--body__button:hover {
  background: #c68dff;
}
.ansercontainer--user__1 {
  width: auto;
  height: auto;
}

.ansercontainer--user__text {
  color: var(--text-black);
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 200px;
  margin-left: -85px;
}
.bot__container--user {
  display: flex;
  align-items: end;
  margin-bottom: 10px;
}
.bot--body__ansercontainer--user {
  height: auto;
  width: 330px;
  background: rgba(212, 242, 29, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 30px;
}
.ansercontainer--user__1--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 250px;
  height: 200px;
  padding: 15px;
  border-radius: 15px;
  margin-top: 20px;
}

.ansercontainer--user__1--form__button {
  color: var(--text-black);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 202px;
  height: 170px;
  border-radius: 40px;
  border: 3px solid #cff000;
  background: #fff;
  margin-top: 8px;
}
#namebot {
  width: 202px;
  height: 170px;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid #e0e7ec;
  background: #e0c7f9;

  color: var(--Grey);
  text-align: left;
  font-family: Racama;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 20px;
}
#phonebot {
  width: 202px;
  height: 170px;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid #e0e7ec;
  background: #e0c7f9;

  color: var(--Grey);
  text-align: left;
  font-family: Racama;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 20px;
}
#emailbot {
  width: 202px;
  height: 170px;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid #e0e7ec;
  background: #e0c7f9;

  color: var(--Grey);
  text-align: left;
  font-family: Racama;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 20px;
}
.none {
  display: none;
}
input:focus {
  outline: none;
}
.input-error {
  box-shadow: 0 0 5px #e32d2d;
}
.input-error:focus {
  outline: none;
  border: 5px solid #e32d2d;
}
